.crystals{

    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 450px;
    height: 215px;
    position: absolute;
    margin-left:49.5%;
    margin-top: 26%;
     
}

element.style{
    background-image: image-set(right);
}


.crystalV{
    border: 3px solid #808080cf;     
}


*{
box-sizing: border-box;
margin: auto;

}

body {

font-size: 30px;
font-family: 'Fugaz One', cursive;
height: 960px;
width: 1000px;
color: #ffffff; 
background-image: url("../images/background.jpg");
text-align: center;
background: radial-gradient(circle,rgba(88, 125, 150, 0.88), white);
text-shadow: rgb(236, 208, 135) 1rem;
}

#game-container{ 

position: absolute; 
height: 845px;
width: 950px;
background-image: url("../images/background.jpg");
border: 10px solid rgba(88, 125, 150, 0.884);
margin-left: 55px;
}

#header{
background-color: #c28383b0;
font-size: 65px;
padding: 20px; 
margin:20px; 
position: relative; 
border: 5px solid rgba(88, 125, 150, 0.76);
}

#rules{
    background-color:#6ba0a08a;     
    margin: auto; 
    margin-left:20px;
    font-size: 20px;
    height: 580px;
    width:400px;
    position: absolute; 
    text-align: left;
    border: 5px solid rgba(88, 125, 150, 0.856);
    display: flex;
    padding-right: 30px;
    }

#rNtBox{

width: 60%;
height: 200px;
position: absolute;


}

#randomNumberTarget{
background-color: #6e456daf;
height: 200px;
width: 200px;
position: absolute;
display: inline-block;
margin-left:35%;
border: 5px solid rgba(88, 125, 150, 0.808);
padding-top: 37px;


}

#tallyBox{
background-color: #4668467e;
height: 200px;
width: 200px;
position: absolute; 
display: inline-block;
margin-left: 77%;
border: 5px solid rgba(88, 125, 150, 0.808);

}


#sBcVdBox{

width: 60%;
height: 240px;
position: absolute;
margin-left:44%;
margin-top: 51.2%;

}

#totalCrystalV{
background-color: rgba(108, 83, 133, 0.548);
height: 108px;
width: 350px; 
display: inline-block;
border: 5px solid rgba(88, 125, 150, 0.808);
padding: 10px;

}

#win, #loss{
margin-top:20px;
padding:14px; 
text-align: left;
}